<div class="wrapper">
  <h1 class="text-center name">Edit Project</h1>

  <%= form_with(model: @project, data: { controller: "nested-form", nested_form_wrapper_selector_value: '.nested-form-wrapper' }) do |f| %>
    <%= render "projects/form", f: f %>
  <% end %>
  <%= link_to "Return", projects_path, class: "btn mt-3" %>
</div>
